#date-time {
    position: absolute;
    top: 10px;
    left: 10px;
}

#shirley {
    font-size: 36px;
}

.sign-up-card {
    border: 1px solid var(--blue);
    border-radius: 10px;
    background-color: var(--yellow);
}

.truncated-container {
    position: relative;
    overflow: hidden;
}

.truncated-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncated-container:hover .truncated-text {
    white-space: normal;
    overflow: visible;
    background-color: var(--yellow);
    position: relative;
    z-index: 2;
    max-width: 50%;
    padding: 0.5rem;
}

.trash:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.deleting {
    background-color: var(--orange);
}

@media screen and (max-width: 768px) {
    #date-time {
        position: relative;
        top: 0px;
        left: 0px;
        margin-top: 10px;
        text-align: center;
    }

    .truncated-container:hover .truncated-text-e {
        text-align: end;
    }
}