/* body {
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

.chewy {
    font-family: "Chewy", system-ui;
}

.kaushan {
    font-family: "Kaushan Script", cursive;
}

.alert {
    position: fixed !important;
    top: 10%;
    right: 50%;
    transform: translateX(50%);
}

.spinner-container {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.deleting {
    background-color: red;
}