/* body {
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

.chewy {
    font-family: "Chewy", system-ui;
}

.kaushan {
    font-family: "Kaushan Script", cursive;
}

.alert {
    position: fixed !important;
    top: 10%;
    right: 50%;
    transform: translateX(50%);
}

.spinner-container {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.deleting {
    background-color: red;
}

.gallery-img {
    cursor: pointer;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.5s ease-in-out, box-shadow 0.25s ease-in-out;
}

.gallery-img.loaded {
    opacity: 1;
}

.gallery-img:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.fade-in {
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}